In [ ]:
import pandas as pd
import numpy as np

In [ ]:
pd.DataFrame({'A': [1, 2, 3]})

   A
0  1
1  2
2  3

In [ ]:
df = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [ ]:
df = pd.read_csv('olympics.csv', header=1, encoding='utf-8')
df

,Unnamed: 0,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [ ]:
df.head()

,Country,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [ ]:
df.tail()

,Country,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [ ]:
df["Unnamed: 0"]

0                                 Afghanistan (AFG)
1                                     Algeria (ALG)
2                                   Argentina (ARG)
3                                     Armenia (ARM)
4                           Australasia (ANZ) [ANZ]
                           ...
142    Independent Olympic Participants (IOP) [IOP]
143                              Zambia (ZAM) [ZAM]
144                            Zimbabwe (ZIM) [ZIM]
145                          Mixed team (ZZX) [ZZX]
146                                          Totals
Name: Unnamed: 0, Length: 147, dtype: object

In [ ]:
df.rename(columns={"Unnamed: 0": "Country"}, inplace=True)

In [ ]:
df["Country"]

0                                 Afghanistan (AFG)
1                                     Algeria (ALG)
2                                   Argentina (ARG)
3                                     Armenia (ARM)
4                           Australasia (ANZ) [ANZ]
                           ...
142    Independent Olympic Participants (IOP) [IOP]
143                              Zambia (ZAM) [ZAM]
144                            Zimbabwe (ZIM) [ZIM]
145                          Mixed team (ZZX) [ZZX]
146                                          Totals
Name: Country, Length: 147, dtype: object

In [ ]:
df.T # matriz transposta

,0,1,2,3,4,5,6,7,8,9,...,137,138,139,140,141,142,143,144,145,146
Country,Afghanistan (AFG),Algeria (ALG),Argentina (ARG),Armenia (ARM),Australasia (ANZ) [ANZ],Australia (AUS) [AUS] [Z],Austria (AUT),Azerbaijan (AZE),Bahamas (BAH),Bahrain (BRN),...,Uzbekistan (UZB),Venezuela (VEN),Vietnam (VIE),Virgin Islands (ISV),Yugoslavia (YUG) [YUG],Independent Olympic Participants (IOP) [IOP],Zambia (ZAM) [ZAM],Zimbabwe (ZIM) [ZIM],Mixed team (ZZX) [ZZX],Totals
№ Summer,13,12,23,5,2,25,26,5,15,8,...,5,17,14,11,16,1,12,12,3,27
01 !,0,5,18,1,3,139,18,6,5,0,...,5,2,0,0,26,0,0,3,8,4809
02 !,0,2,24,2,4,152,33,5,2,0,...,5,2,2,1,29,1,1,4,5,4775
03 !,2,8,28,9,5,177,35,15,5,1,...,10,8,0,0,28,2,1,1,4,5130
Total,2,15,70,12,12,468,86,26,12,1,...,20,12,2,1,83,3,2,8,17,14714
№ Winter,0,3,18,6,0,18,22,5,0,0,...,6,4,0,7,14,0,0,1,0,22
01 !.1,0,0,0,0,0,5,59,0,0,0,...,1,0,0,0,0,0,0,0,0,959
02 !.1,0,0,0,0,0,3,78,0,0,0,...,0,0,0,0,3,0,0,0,0,958
03 !.1,0,0,0,0,0,4,81,0,0,0,...,0,0,0,0,1,0,0,0,0,948
Total.1,0,0,0,0,0,12,218,0,0,0,...,1,0,0,0,4,0,0,0,0,2865
№ Games,13,15,41,11,2,43,48,10,15,8,...,11,21,14,18,30,1,12,13,3,49
01 !.2,0,5,18,1,3,144,77,6,5,0,...,6,2,0,0,26,0,0,3,8,5768
02 !.2,0,2,24,2,4,155,111,5,2,0,...,5,2,2,1,32,1,1,4,5,5733
03 !.2,2,8,28,9,5,181,116,15,5,1,...,10,8,0,0,29,2,1,1,4,6078
Combined total,2,15,70,12,12,480,304,26,12,1,...,21,12,2,1,87,3,2,8,17,17579

In [ ]:
df[2:5]

                 0   1   2   3   4   5   6  7  8  9 10  11  12  13  14  15
2    Algeria (ALG)  12   5   2   8  15   3  0  0  0  0  15   5   2   8  15
3  Argentina (ARG)  23  18  24  28  70  18  0  0  0  0  41  18  24  28  70
4    Armenia (ARM)   5   1   2   9  12   6  0  0  0  0  11   1   2   9  12

In [ ]:
df.loc[:, ["0", "1"]]

                                                0         1
0                                             NaN  № Summer
1                               Afghanistan (AFG)        13
2                                   Algeria (ALG)        12
3                                 Argentina (ARG)        23
4                                   Armenia (ARM)         5
..                                            ...       ...
143  Independent Olympic Participants (IOP) [IOP]         1
144                            Zambia (ZAM) [ZAM]        12
145                          Zimbabwe (ZIM) [ZIM]        12
146                        Mixed team (ZZX) [ZZX]         3
147                                        Totals        27

[148 rows x 2 columns]

In [ ]:
df.groupby('Combined total')[['01 !',	'02 !',	'03 !']].mean()

                       01 !         02 !         03 !
Combined total
1                  0.115385     0.461538     0.423077
2                  0.272727     0.818182     0.909091
3                  0.428571     0.857143     1.714286
4                  0.300000     1.700000     1.800000
5                  3.000000     1.000000     1.000000
...                     ...          ...          ...
782              174.000000   182.000000   217.000000
806              236.000000   272.000000   272.000000
1204             395.000000   319.000000   296.000000
2681             976.000000   757.000000   666.000000
17579           4809.000000  4775.000000  5130.000000

[74 rows x 3 columns]

In [ ]:
df.sort_values(by="Combined total")

,Country,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
61,Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
52,Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
118,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
42,Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
53,Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
49,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
106,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 2, 3], 'C': [3, 2, 3]})

In [ ]:
df.mean()

A    2.000000
B    3.000000
C    2.666667
dtype: float64